a/* banner.css */
.banner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.banner__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.banner__container {
  display: flex;
  align-items: center;
  width: 100%;
}

.banner__slider {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.banner__slider::-webkit-scrollbar {
  display: none;
}

.banner__arrow-left,
.banner__arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 2rem;
  user-select: none;
}

.banner__arrow-left {
  left: 10px;
}

.banner__arrow-right {
  right: 10px;
}

.banner__image {
  flex-shrink: 0;
  width: 200px; /* 이미지 너비 */
  height: 100px; /* 이미지 높이 */
  margin-right: 10px;
}
